<section
  class="wow fadeIn no-padding parallax xs-background-image-center"
  data-stellar-background-ratio="0.5"
  id="home"
  style="background-image:url('assets/images/banner2.jpg');"
>
  <div class="container full-screen position-relative">
    <div class="slider-typography">
      <div class="slider-text-middle-main">
        <div class="slider-text-middle md-padding-15px-lr">
          <div
            class="col-lg-8 col-sm-10 col-lg-push-4 col-sm-push-1 text-left bg-black-opacity padding-seven-all md-padding-ten-all sm-text-center"
          >
            <div
              class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-2 title-large"
            >
              BookOne
            </div>
            <div
              class="separator-line-horrizontal-full width-100 margin-35px-tb sm-margin-25px-tb xs-margin-20px-tb bg-white"
            ></div>
            <span
              class="text-white text-extra-large font-weight-300 margin-35px-bottom display-block sm-margin-25px-bottom xs-margin-15px-bottom"
              ><b>One & Own Booking & Hotel Management System</b></span
            >
          </div>
        </div>
        <div class="down-section text-center">
          <a href="#about" class="section-link up-down-ani"
            ><i class="ti-mouse icon-small bounce text-deep-pink"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
