<section class="bg-extra-dark-gray" id="features">
  <div class="container">
      <div class="row">
          <div
            class="col-lg-5 col-md-8 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center"
          >
            <h5
              class="alt-font font-weight-700 text-white margin-20px-bottom text-uppercase"
            >
              Features
            </h5>
          </div>
        </div>
    <div class="row equalize xs-equalize-auto">
      <!-- start service item -->
      <div
        class="col-md-4 col-sm-6 col-xs-12 text-center last-paragraph-no-margin margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom wow fadeInUp"
      >
        <i class="icon-profile-male icon-extra-medium margin-20px-bottom"></i>
        <div
          class="text-white margin-10px-bottom sm-margin-5px-bottom alt-font font-weight-600"
        >
          Quick & Simple
        </div>
        <p class="width-80 center-col xs-width-100">
          Specialised & Dedicated team for Property & Hotel On-boarding.
        </p>
      </div>
      <!-- end service item -->
      <!-- start service item -->
      <div
        class="col-md-4 col-sm-6 col-xs-12 text-center last-paragraph-no-margin margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <i class="icon-gears icon-extra-medium margin-20px-bottom"></i>
        <div
          class="text-white margin-10px-bottom sm-margin-5px-bottom alt-font font-weight-600"
        >
          Booking Engine
        </div>
        <p class="width-80 center-col xs-width-100">
          Real time availability check and booking through hotel website.
        </p>
      </div>
      <!-- end service item -->
      <!-- start service item -->
      <div
        class="col-md-4 col-sm-6 col-xs-12 text-center last-paragraph-no-margin margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.4s"
      >
        <i class="icon-lock icon-extra-medium margin-20px-bottom"></i>
        <div
          class="text-white margin-10px-bottom sm-margin-5px-bottom alt-font font-weight-600"
        >
          Secure Payments
        </div>
        <p class="width-80 center-col xs-width-100">
          Payment Integration & Processing of Virtual, Credit and Debit Cards
          through PCI & DSS Compliant Payment Processor.
        </p>
      </div>
      <!-- end service item -->
      <!-- start service item -->
      <div
        class="col-md-4 col-sm-6 col-xs-12 text-center last-paragraph-no-margin sm-margin-40px-bottom xs-margin-30px-bottom wow fadeInUp"
      >
        <i class="icon-wallet icon-extra-medium margin-20px-bottom"></i>
        <div
          class="text-white margin-10px-bottom sm-margin-5px-bottom alt-font font-weight-600"
        >
          Revenue
        </div>
        <p class="width-80 center-col xs-width-100">
          Income, Expense Management & Local Tax such as GST calculation for
          each transaction.
        </p>
      </div>
      <!-- end service item -->
      <!-- start service item -->
      <div
        class="col-md-4 col-sm-6 col-xs-12 text-center last-paragraph-no-margin xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <i class="icon-browser icon-extra-medium margin-20px-bottom"></i>
        <div
          class="text-white margin-10px-bottom sm-margin-5px-bottom alt-font font-weight-600"
        >
          Reservation System
        </div>
        <p class="width-80 center-col xs-width-100">
          Centralised Reservation System integration with Channel Manager
        </p>
      </div>
      <!-- end service item -->
      <!-- start service item -->
      <div
        class="col-md-4 col-sm-6 col-xs-12 text-center last-paragraph-no-margin wow fadeInUp"
        data-wow-delay="0.4s"
      >
        <i class="icon-clipboard icon-extra-medium margin-20px-bottom"></i>
        <div
          class="text-white margin-10px-bottom sm-margin-5px-bottom alt-font font-weight-600"
        >
          Dynamic Pricing
        </div>
        <p class="width-85 center-col xs-width-100">
          Instant updates to room’s rates, availability and restrictions on real
          time
        </p>
      </div>
      <!-- end service item -->
    </div>
  </div>
</section>
