<section class="wow fadeIn" id="about">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-5 col-md-8 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center"
      >
        <h5
          class="alt-font font-weight-700 text-extra-dark-gray margin-20px-bottom text-uppercase"
        >
          About Us
        </h5>
      </div>
    </div>
    <div class="row equalize md-equalize-auto">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center display-table no-padding-left md-padding-15px-left sm-no-padding wow fadeIn"
      >
        <div class="display-table-cell vertical-align-middle">
          <img src="assets/images/logo.png" alt="" class="width-100" />
        </div>
      </div>
      <!-- <div
        class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center no-padding-left md-padding-15px-left display-table sm-no-padding wow fadeIn"
        data-wow-delay="0.2s"
      >
        <div class="display-table-cell vertical-align-middle">
          <img src="assets/images/onboarding.jpg" alt="" class="width-100" />
        </div>
      </div> -->
      <div
        class="col-lg-9 col-md-12 col-sm-12 col-xs-12 no-padding display-table md-margin-15px-top sm-no-margin-top wow fadeIn"
        data-wow-delay="0.4s"
      >
        <div
          class="display-table-cell bg-extra-dark-gray vertical-align-middle padding-thirteen-all sm-padding-ten-all sm-text-center xs-padding-five-lr xs-padding-fifteen-tb width-100"
        >
          <p class="text-white">
            <b
              >BookOne is a complete Booking Origination and Management System.
              BookOne is for the Hospitality Industry to capture booking journey
              of the guest for the Hotel, Motel, Back Packers, Service
              Apartment, Vacation Rental, Guest Room and Owner Occupied
              properties.Enrich and Ensure Guest’s booking experience with
              personalised, interactive real time notifications.</b
            >
          </p>
          <p class="text-white">
            <b
              >A Property/Hotel Management System having own booking engine plus
              integration with the hotel booking websites, major OTAs ( Online
              Travel/Booking Engines ) to manage effectively Rates,
              Availability, Processing Payments of Virtual, Credit and Debit
              Cards with PCI Compliant Payment Processors. This also covers
              Accounting and Expense Management to optimize the operational
              efficiency.</b
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
