<!-- start footer -->
<footer
  class="footer-center-logo bg-black padding-five-tb xs-padding-30px-tb"
>
  <div class="container">
    <div class="row equalize xs-equalize-auto">
      <!-- start copyright -->
      <div
        class="col-md-4 col-sm-5 col-xs-12 text-small text-center alt-font display-table xs-text-center xs-margin-15px-bottom"
      >
        <div class="display-table-cell vertical-align-middle">
          &copy; 2019 BookOne is Made with <i class="fa fa-heart" style="color:rgb(255, 0, 0);"></i> by
          Credencesoft<br>
        </div>
      </div>
      <!-- end copyright -->
      <!-- start logo -->
      <div
        class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom"
      >
        <div class="display-table-cell vertical-align-middle">
          <a href="#"
            ><img
              class="footer-logo"
              src="assets/images/logo.png"
              data-rjs="assets/images/logo@2x.png"
              alt="Logo"
              height="100"
              width="100"
          /></a>
        </div>
      </div>
      <!-- end logo -->
      <!-- start social media -->
      <div
        class="col-md-4 col-sm-5 col-xs-12 text-center display-table xs-text-center"
      >
        <div class="display-table-cell vertical-align-middle">
          <span class="alt-font text-small margin-20px-right"
            >On social networks</span
          >
          <div
            class="social-icon-style-8 display-inline-block vertical-align-middle"
          >
            <ul class="small-icon no-margin-bottom">
              <li>
                <a
                  class="facebook"
                  href="https://www.facebook.com/bookonepms/"
                  target="_blank"
                  ><i class="fab fa-facebook-f" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  class="instagram"
                  href="https://www.instagram.com/bookoneinsta/"
                  target="_blank"
                  ><i
                    class="fab fa-instagram no-margin-right"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end social media -->
    </div>
  </div>
</footer>
<!-- end footer -->
