<section
  class="parallax wow fadeIn"
  id="benefits"
  data-stellar-background-ratio="0.6"
  style="background-image:url('images/homepage-9-parallax-img5.jpg');"
>
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container position-relative z-index-2">
    <div class="row">
      <div
        class="col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center center-col margin-seven-bottom xs-margin-40px-bottom"
      >
        <h4 class="alt-font text-white width-90 center-col">
          Benefits
        </h4>
        <br />
        <div class="col-md-12 col-sm-12 col-xs-12 center-col">
          <ul class="no-padding list-style-4 list-style-color text-white">
            <li>ENHANCING & ENRICHING CUSTOMER BOOKING JOURNEY</li>
            <li>MINIMISING THE CHANNEL COMMISSION COST</li>
            <li>BUSINESS BRANDING & ONLINE PRESENCE</li>
            <li>ZERO COMMISSION PAYMENT ON BOOKING</li>
            <li>OPERATIONAL EFFICIENCY & TRANSPARENCY</li>
            <li>ACCOUNTING & TAX CALCULATIONS</li>
            <li>CHANNEL MANAGEMENT</li>
            <li>CUSTOMER RELATIONSHIP MANAGEMENT</li>
            <li>ONE & OWN PLATFORM FOR BOOKING & HOTEL MANAGEMENT</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
