<section class="bg-extra-dark-gray wow fadeIn" id="pricing">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-5 col-md-8 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center"
      >
        <h5
          class="alt-font font-weight-700 text-white margin-20px-bottom text-uppercase"
        >
          Pricing
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="pricing-box-style1">
        <!-- start pricing item -->
        <div
          class="col-md-4 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInUp"
        >
          <div
            class="pricing-box border-all border-width-1 border-color-extra-light-gray"
          >
            <div
              class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all"
            >
              <!-- start pricing title -->
              <div class="pricing-title text-center">
                <i
                  class="ti-world icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"
                ></i>
              </div>
              <!-- end pricing title -->
              <!-- start pricing price -->
              <div class="pricing-price">
                <span
                  class="alt-font text-extra-dark-gray font-weight-600 text-uppercase"
                  ><b>Booking Engine, Payment & Guest Reviews</b></span
                >
                <h4
                  class="text-extra-dark-gray text-large alt-font font-weight-600 no-margin-bottom"
                >
                  Hotel Websites
                </h4>
                <div class="text-medium text-uppercase alt-font margin-5px-top">
                  <b>$1599 or $49 Per Month</b>
                </div>
              </div>
              <!-- end pricing price -->
            </div>
          </div>
        </div>
        <!-- end pricing item -->
        <!-- start pricing item -->
        <div
          class="col-md-4 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div
            class="pricing-box border-all border-width-1 border-color-extra-light-gray"
          >
            <div
              class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all"
            >
              <!-- start pricing title -->
              <div class="pricing-title text-center">
                <i
                  class="ti-briefcase icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"
                ></i>
              </div>
              <!-- end pricing title -->
              <!-- start pricing price -->
              <div class="pricing-price">
                <span
                  class="alt-font text-extra-dark-gray font-weight-600 text-uppercase"
                  ><b>Free Website, One Free Month</b></span
                >
                <h4
                  class="text-extra-dark-gray text-large alt-font font-weight-600 no-margin-bottom"
                >
                  BookOne
                </h4>
                <div class="text-medium text-uppercase alt-font margin-5px-top">
                  <b>$79 Per Month for 10 Rooms</b>
                </div>
              </div>
              <!-- end pricing price -->
            </div>
          </div>
        </div>
        <!-- end pricing item -->
        <!-- start pricing item -->
        <div
          class="col-md-4 col-sm-12 col-xs-12 text-center wow fadeInUp"
          data-wow-delay="0.4s"
        >
          <div
            class="pricing-box border-all border-width-1 border-color-extra-light-gray"
          >
            <div
              class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all"
            >
              <!-- start pricing title -->
              <div class="pricing-title text-center">
                <i
                  class="ti-user icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"
                ></i>
              </div>
              <!-- end pricing title -->
              <!-- start pricing price -->
              <div class="pricing-price">
                <span
                  class="alt-font text-extra-dark-gray font-weight-600 text-uppercase"
                  ><b>Combo</b></span
                >
                <h4
                  class="text-extra-dark-gray alt-font text-large font-weight-600 no-margin-bottom"
                >
                  BookOne & Channel Manager
                </h4>
                <div class="text-medium text-uppercase alt-font margin-5px-top">
                  <b>$149 Per Month for 10 Rooms</b>
                </div>
              </div>
              <!-- end pricing price -->
            </div>
          </div>
        </div>
        <!-- end pricing item -->
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-col text-center"
      >
        <h5
          class="alt-font font-weight-700 text-white margin-20px-bottom"
        >
          If you want pricing for more than 10 rooms then contact us at
          <a href="mailto:support@thehotelmate.com">support@thehotelmate.com</a>
        </h5>
      </div>
    </div>
  </div>
</section>
