<section
  class="parallax wow fadeIn"
  data-stellar-background-ratio="0.4"
  id="offerings"
  style="background-image:url('assets/images/parallax-bg21.jpg');"
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-5 col-md-8 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center"
      >
        <h5
          class="alt-font font-weight-700 text-extra-dark-gray margin-20px-bottom text-uppercase"
        >
          Offerings
        </h5>
      </div>
    </div>
    <div class="row">
      <!-- start offering box item -->
      <div
        class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight"
      >
        <div
          class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center"
        >
          <div
            class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"
          >
            <img src="assets/images/image-icon1.png" alt="" />
          </div>
          <span
            class="alt-font text-black font-weight-600 display-block margin-20px-bottom"
            ><b>WEBSITE</b></span
          >
          <p>
            <b
              >A complete transaction website to book rooms, view booking
              details, policies, Guest Review, Contact etc.</b
            >
          </p>
          <div
            class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-3px width-60 center-col"
          ></div>
          <span
            class="alt-font text-black font-weight-800 display-block margin-20px-bottom"
            ><b>PRICING</b></span
          >
          <p>
            <b>$1599 OR $49 PER MONTH</b>
          </p>
        </div>
      </div>
      <!-- end offering box block -->
      <!-- start offering box item -->
      <div
        class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.2s"
      >
        <div
          class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center"
        >
          <div
            class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"
          >
            <img src="assets/images/image-icon2.png" alt="" />
          </div>
          <span
            class="alt-font text-black font-weight-600 display-block margin-20px-bottom"
            ><b>BOOKONE</b></span
          >
          <p>
            <b
              >User Account Setup, Hotel & Room Setup, Manage Booking, Payment,
              Expense, Rates & Availability.</b
            >
          </p>
          <div
            class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-3px width-60 center-col"
          ></div>
          <span
            class="alt-font text-black font-weight-800 display-block margin-20px-bottom"
            ><b>PRICING</b></span
          >
          <p>
            <b>$79 PER MONTH FOR 10 ROOMS</b>
          </p>
        </div>
      </div>
      <!-- end offering box block -->
      <!-- start offering box item -->
      <div
        class="col-md-4 last-paragraph-no-margin wow fadeInRight"
        data-wow-delay="0.4s"
      >
        <div
          class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center"
        >
          <div
            class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"
          >
            <img src="assets/images/image-icon3.png" alt="" />
          </div>
          <span
            class="alt-font text-black font-weight-600 display-block margin-20px-bottom"
            ><b>CHANNEL MANAGER</b></span
          >
          <p>
            <b
              >Global Distribution of inventory across multiple OTAs integrated
              with BookOne.</b
            >
          </p>
          <div
            class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-3px width-60 center-col"
          ></div>
          <span
            class="alt-font text-black font-weight-800 display-block margin-20px-bottom"
            ><b>PRICING</b></span
          >
          <p>
            <b>$149 PER MONTH <br />FOR 10 ROOMS</b>
          </p>
        </div>
      </div>
      <!-- end offering box block -->
    </div>
  </div>
</section>
