<section
  class="half-section wow fadeIn cover-background"
  id="bookone"
  style="background-image: url('assets/images/call-to-action-bg.jpg');"
>
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 center-col position-relative text-center">
        <span
          class="text-extra-large text-white alt-font display-inline-block margin-5px-top margin-30px-right xs-no-margin-right xs-no-margin-top xs-margin-15px-bottom xs-width-100"
          >Have a look on our application.</span
        >
        <a
          href="https://ownershomenz.appspot.com/"
          target="_blank"
          class="btn btn-white btn-small vertical-align-top xs-no-margin-right"
          >Click here to go to BookOne</a
        >
      </div>
    </div>
  </div>
</section>
