<section class="wow fadeIn" id="services">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-8 col-md-9 center-col margin-eight-bottom text-center last-paragraph-no-margin"
      >
        <h5 class="alt-font text-extra-dark-gray font-weight-600">
          Services
        </h5>
      </div>
    </div>
    <div class="row">
      <!-- start feature box item -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp"
      >
        <div class="feature-box-16 xs-width-100">
          <img src="assets/images/guestbooking.png" alt="" />
          <div class="feature-box-content text-center">
            <div class="opacity-full-dark bg-extra-dark-gray"></div>
            <div class="display-table height-100 width-100 position-relative">
              <div
                class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb"
              >
                <div class="text-white alt-font text-medium margin-15px-bottom">
                  Guest Booking
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12 center-col">
                  <ul
                    class="no-padding list-style-4 list-style-color text-white"
                  >
                    <li>Availability Check.</li>
                    <li>New Booking.</li>
                    <li>Verify Booking.</li>
                    <li>Making Payment.</li>
                    <li>Hotel Policies.</li>
                    <li>Guest Reviews.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end feature box item -->

      <!-- start feature box item -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.25s"
      >
        <div class="feature-box-16 xs-width-100">
          <img src="assets/images/setup.png" alt="" />
          <div class="feature-box-content text-center text-white">
            <div class="opacity-full-dark bg-extra-dark-gray"></div>
            <div class="display-table height-100 width-100 position-relative">
              <div
                class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb"
              >
                <div class="text-white alt-font text-medium margin-15px-bottom">
                  Setup
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12 center-col">
                  <ul
                    class="no-padding list-style-4 list-style-color text-white"
                  >
                    <li>User Account Setup.</li>
                    <li>Property, Room Setup.</li>
                    <li>Local Tax / Tax Slabs Setup.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end feature box item -->

      <!-- start feature box item -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp"
        data-wow-delay="0.6s"
      >
        <div class="feature-box-16 xs-width-100">
          <img src="assets/images/ratesandavailability.png" alt="" />
          <div class="feature-box-content text-center text-white">
            <div class="opacity-full-dark bg-extra-dark-gray"></div>
            <div class="display-table height-100 width-100 position-relative">
              <div
                class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb"
              >
                <div class="text-white alt-font text-medium margin-15px-bottom">
                  Manage Rates & Availability
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12 center-col">
                  <ul
                    class="no-padding list-style-4 list-style-color text-white"
                  >
                    <li>Setting Up Rates.</li>
                    <li>Setting Up Availability.</li>
                    <li>Realtime Update of Rates & Availability.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
    </div>
    <br />
    <br /><br />
    <div class="row">
      <!-- start feature box item -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp"
      >
        <div class="feature-box-16 xs-width-100">
          <img src="assets/images/booking.png" alt="" />
          <div class="feature-box-content text-center">
            <div class="opacity-full-dark bg-extra-dark-gray"></div>
            <div class="display-table height-100 width-100 position-relative">
              <div
                class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb"
              >
                <div class="text-white alt-font text-medium margin-15px-bottom">
                  Booking Management
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12 center-col">
                  <ul
                    class="no-padding list-style-4 list-style-color text-white"
                  >
                    <li>New Booking , Payment Link.</li>
                    <li>Check-In, Service, Check-Out.</li>
                    <li>Invoice, Notification at Each Stage of Booking.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end feature box item -->

      <!-- start feature box item -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.25s"
      >
        <div class="feature-box-16 xs-width-100">
          <img src="assets/images/payments.png" alt="" />
          <div class="feature-box-content text-center text-white">
            <div class="opacity-full-dark bg-extra-dark-gray"></div>
            <div class="display-table height-100 width-100 position-relative">
              <div
                class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb"
              >
                <div class="text-white alt-font text-medium margin-15px-bottom">
                  Payments
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12 center-col">
                  <ul
                    class="no-padding list-style-4 list-style-color text-white"
                  >
                    <li>Create/ Update/ Manage Payment.</li>
                    <li>Process Payment, Reporting.</li>
                    <li>Sending Payment Link.</li>
                    <li>Notification.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end feature box item -->

      <!-- start feature box item -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp"
        data-wow-delay="0.6s"
      >
        <div class="feature-box-16 xs-width-100">
          <img src="assets/images/expenses.png" alt="" />
          <div class="feature-box-content text-center text-white">
            <div class="opacity-full-dark bg-extra-dark-gray"></div>
            <div class="display-table height-100 width-100 position-relative">
              <div
                class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb"
              >
                <div class="text-white alt-font text-medium margin-15px-bottom">
                  Expenses
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12 center-col">
                  <ul
                    class="no-padding list-style-4 list-style-color text-white"
                  >
                    <li>Manage Expense Hotel/ Booking.</li>
                    <li>Create/ Update Expense.</li>
                    <li>Grouping & Reporting.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
    </div>
  </div>
</section>
