<!-- start navigation -->
<nav
  class="navbar no-margin-bottom bootsnav alt-font bg-white sidebar-nav sidebar-nav-style-1"
>
  <!-- start logo -->
  <div class="col-md-12 col-sm-12 col-xs-12 sidenav-header">
    <div class="logo-holder">
      <a href="#" class="logo"
        ><img
          alt="Logo"
          src="assets/images/logo.png"
          data-rjs="assets/images/logo@2x.png"
          height="80"
          width="80"
      /></a>
    </div>
    <!-- end logo -->
    <button
      class="navbar-toggle mobile-toggle"
      type="button"
      id="mobileToggleSidenav"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 no-padding-lr">
    <div id="navbar-menu" class="collapse navbar-collapse no-padding">
      <ul class="nav navbar-nav navbar-left-sidebar font-weight-500">
        <li>
          <a
            href="#home"
            title="Home"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#about"
            title="About"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >About</a
          >
        </li>
        <li>
          <a
            href="#bookone"
            title="Bookone"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Have a Look on BookOne</a
          >
        </li>
        <li>
          <a
            href="#services"
            title="Services"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Services</a
          >
        </li>
        <li>
          <a
            href="#features"
            title="Features"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Features</a
          >
        </li>
        <li>
          <a
            href="#benefits"
            title="Benefits"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Benefits</a
          >
        </li>
        <li>
          <a
            href="#offerings"
            title="Offerings"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Offering / Pricing</a
          >
        </li>
        <!-- <li>
          <a
            href="#pricing"
            title="Pricing"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Pricing</a
          >
        </li> -->
        <li>
          <a
            href="#contact"
            title="Contact"
            class="inner-link"
            style="color:rgb(0, 0, 0);"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="col-md-12 position-absolute top-auto bottom-0 left-0 width-100 padding-20px-bottom xs-padding-15px-bottom"
  >
    <div class="footer-holder">
      <div
        class="icon-social-medium margin-eleven-bottom padding-eight-top xs-padding-15px-top xs-margin-15px-bottom"
      >
        <a
          href="https://www.facebook.com/bookonepms/"
          target="_blank"
          class="text-link-black"
          ><i class="fab fa-facebook-f" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com/bookoneinsta/"
          target="_blank"
          class="text-link-black"
          ><i class="fab fa-instagram" aria-hidden="true"></i
        ></a>
      </div>
      <div
        class="text-black text-extra-small border-top border-color-black padding-twelve-top xs-padding-15px-top"
      >
        &copy; 2019 BookOne. All rights reserved
      </div>
    </div>
  </div>
</nav>
<!-- end navigation -->
